html {
    background-color: mediumaquamarine;
    margin: auto;
    width: 70%;
    color: white
}

img {
    height: 200px;
    text-align: center;
    border-radius: 10px
  }

button {
    border-radius: 6px;
}

.shows {
    height: 300px;
}